{% extends 'base.html' %}
{% load static %}   

{% block navend %}
        
    <a class="btn btn-outline-warning" href="#">Logout</a>
{% endblock %}


{% block content %}
    <!--div class="container">
        <table class="table table-warning ">
            <tr class="table-warning  text-center">
                <th class="table-warning">PIZZA</th>
                <th class="table-warning">PRICE</th>
                <th class="table-warning">DESCRIPTION</th>
            </tr>
            {% for i in pizza reversed %}
                <tr class="table-secondary">
                    <td class="table-secondary  text-center fw-bold">{{i.name}}</td>
                    <td class="table-secondary  text-center">{{i.price}}</td>
                    <td class="table-secondary">{{i.description}}</td>
                    
                </tr>
            {% endfor %}
        </table>
    </div-->
    {% load static %} 
    {% for message in messages %}
    <script type="text/javascript">alert("{{message}}");</script>
    {% endfor %}
    <div class="container-fluid" style="position :relative;">
        <div style="background-color: transparent;position:absolute;width:500px;height:300px;right:30px; border-radius:20px;" class="container mt-5 shadow-lg" >
            <form class="m-3" action="/signup/" method="post">
            {% csrf_token %}
                <h2 class="text-orange fw-bold fst-italic text-center" style="color:#e86743;-webkit-text-stroke:0.2px white;">Sign Up</h2>
                <input type="text"  style="opacity:0.8;" class="form-control mt-3 shadow-sm" placeholder="Username" name="Username">
                <input type="password"  style="opacity:0.8;" class="form-control mt-3 shadow-sm" placeholder="Password" name="Password">
                <input type="phone" style="opacity:0.8;" class="form-control mt-3 shadow-sm" placeholder="Phone" name="Phone">
                <input type="submit" value="Sign Up" style="display:block;margin:auto;" class="btn btn-success mt-3 shadow-sm" placeholder="">
            
            </form>
        
        </div>

    </div>
    <!--img src="{% static 'img/pizza_bg.jpg' %}"-->

{% endblock %}